@import "~bootstrap/scss/bootstrap";

$fontColor: pink;
$fontSize: 52px;

body {
  margin: 0;
}

header {
  height: 50px;
  background-color: palevioletred;
}

footer {
  height: 100px;
  background-color: yellow;
}

// #content {
//   background-color: gray;
// }

// #content {
//   height: 1008px;
//   background-color: gray;
// }

// #innerContent {
//   width: 1200px;
//   margin: 0 auto;
//   border: 1px solid;
// }

.nav-link {
  margin-right: 10px;
  float: left;
}

.form-title {
  font-weight: bold;
}

.form-description {
  font-size: 0.85rem;
  color: gray;
}

.form-label {
  font-weight: bold;
}

.form-required {
  color: red;
  width: 13px;
  height: 13px;
  vertical-align: top;
}

.form-button {
  width: 150px;
  font-weight: bold;
}

.form-hr {
  width: 700px;
  margin-bottom: 3rem;
}