@import "~bootstrap/scss/bootstrap";

$fontColor: pink;
$fontSize: 52px;

body {
  margin: 0;
}

header {
  height: 50px;
  background-color: palevioletred;
}

footer {
  height: 100px;
  background-color: yellow;
}

// #content {
//   background-color: gray;
// }

// #content {
//   height: 1008px;
//   background-color: gray;
// }

// #innerContent {
//   width: 1200px;
//   margin: 0 auto;
//   border: 1px solid;
// }

.nav-link {
  margin-right: 10px;
  float: left;
}