$fontColor: pink;
$fontSize: 52px;

body {
  margin: 0;
}

header {
  height: 80px;
  background-color: palevioletred;
}

footer {
  height: 100px;
  background-color: yellow;
}

#content {
  height: 1008px;
  background-color: gray;
}

#innerContent {
  // border: 1px solid;
  width: 1200px;
  margin: 0 auto;
}
